@import "../../../assets/styles/setup/variables";
@import "../../../assets/styles/setup/functions";

.home-page {
    margin-block: rem(20px);
    color: $clr5;
    align-items: center; 
    justify-content: center;
    a {
        font-size: rem(30px);
        background-color: $clr5;
        border-radius: rem(10px);
        margin-inline-start: rem(12px);
        padding: 0 rem(24px);
        height: 40px;
        color: $clr3;
    }
    .card {
        padding: rem(14px);
        flex-direction: column;
        align-items: center;
        box-shadow: 0 0 1px 1px #757575;
        > * {
            margin-block-end: rem(20px);
        }
        h3{
            font-size: rem(24px);
        }
        img {
            width: 100px;
            height: 100px;
        } 
    }
}
