// Colors
$clr1: #ffffff;
$clr2: #014e56;
$clr3: #f67e7e;
$clr4: #79c8c7;
$clr5: #1a1b1b;

//Box shadows
$boxShadow1: rgba(149, 157, 165, 0.2) 0px 8px 24px;

// Breakpoints
$mobile-breakpoint: 550px;
$narrow-breakpoint: 740px;
$normal-breakpoint: 1280px;
